In [3]:
#pandas library
import pandas as pd
# Sample renewable energy sources data
renewable_sources = ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass"]

# Sample green technology project data (for DataFrame=tabular form of data)
data = {
    "Project": ["Solar Farm A", "Wind Turbine X", "Hydropower Y", "Solar Roof Z", "Geothermal Plant P"],
    "Technology": ["Solar", "Wind", "Hydropower", "Solar", "Geothermal"],
    "Capacity (MW)": [150, 300, 200, 50, 100],  # Megawatts
    "Cost (Million $)": [200, 400, 350, 100, 250],  # Project cost
    "Location": ["California", "Texas", "Washington", "Nevada", "Idaho"],
    "Completion Year": [2023, 2024, 2022, 2025, 2023]
}

In [4]:
#create a series for renewable energy sources  (using sries we get 1D data)
renewable_series=pd.Series(renewable_sources)
print("renewable energy sources : ")
print(renewable_series)

renewable energy sources :
0         Solar
1          Wind
2    Hydropower
3    Geothermal
4       Biomass
dtype: object

In [5]:
projects_df=pd.DataFrame(data)
projects_df.head()

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
0,Solar Farm A,Solar,150,200,California,2023
1,Wind Turbine X,Wind,300,400,Texas,2024
2,Hydropower Y,Hydropower,200,350,Washington,2022
3,Solar Roof Z,Solar,50,100,Nevada,2025
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023

In [6]:
projects_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Project           5 non-null      object
 1   Technology        5 non-null      object
 2   Capacity (MW)     5 non-null      int64
 3   Cost (Million $)  5 non-null      int64
 4   Location          5 non-null      object
 5   Completion Year   5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

In [12]:
projects_df.describe()

       Capacity (MW)  Cost (Million $)  Completion Year
count        5.00000          5.000000         5.000000
mean       160.00000        260.000000      2023.400000
std         96.17692        119.373364         1.140175
min         50.00000        100.000000      2022.000000
25%        100.00000        200.000000      2023.000000
50%        150.00000        250.000000      2023.000000
75%        200.00000        350.000000      2024.000000
max        300.00000        400.000000      2025.000000

In [14]:
high_capacity_projects=projects_df[projects_df['Capacity (MW)']>100]
print("projects with more than 100 MW:")
print(high_capacity_projects)

projects with more than 100 MW:
          Project  Technology  Capacity (MW)  Cost (Million $)    Location  \
0    Solar Farm A       Solar            150               200  California
1  Wind Turbine X        Wind            300               400       Texas
2    Hydropower Y  Hydropower            200               350  Washington

   Completion Year
0             2023
1             2024
2             2022

In [20]:
projects_df["Cost per MW"]=projects_df["Cost (Million $)"]/projects_df["Capacity (MW)"]
print("\nDataFrame with Cost per MW:")
projects_df.head()

DataFrame with Cost per MW:

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year,Cost per MW
0,Solar Farm A,Solar,150,200,California,2023,1.333333
1,Wind Turbine X,Wind,300,400,Texas,2024,1.333333
2,Hydropower Y,Hydropower,200,350,Washington,2022,1.750000
3,Solar Roof Z,Solar,50,100,Nevada,2025,2.000000
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023,2.500000

In [24]:
total_capacity=projects_df['Capacity (MW)'].sum()
total_cost=projects_df['Cost (Million $)'].sum()
print(f"Total Capacity of all projects: {total_capacity} MW")
print(f"total cost of all projects: {total_cost} million")

Total Capacity of all projects: 800 MW
total cost of all projects: 1300 million

In [26]:
grouped_data=projects_df.groupby("Technology")["Capacity (MW)"].sum()
print("\nTotal Capacity by Technology:")
print(grouped_data)

Total Capacity by Technology:
Technology
Geothermal    100
Hydropower    200
Solar         200
Wind          300
Name: Capacity (MW), dtype: int64

In [ ]:
|